<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Ejercicio 3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col text-center size="3">
        <ion-button
          (click)="dec()"
          size="large"
          shape="round"
          expand="full">
          <ion-icon name="remove"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="6"></ion-col>

      <ion-col text-center size="3">
        <ion-button
          (click)="inc()"
          size="large"
          shape="round"
          expand="full">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h1 text-center>{{ n }}</h1>

  <ion-button
    (click)="reset()"
    size="large"
    expand="full">
    Reset
  </ion-button>
</ion-content>