<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Ejercicio 7</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
      <ion-label>Pesetas</ion-label>
      <ion-input clearInput [(ngModel)]="pts" (keyup)="updateEuros()"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Euros</ion-label>
      <ion-input clearInput [(ngModel)]="eur" (keyup)="updatePts()"></ion-input>
    </ion-item>
</ion-content>
