<ion-header>
  <ion-toolbar text-center color="primary">
    <ion-title>
      EJERCICIOS BÁSICOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
          <ion-button
          href="/ejercicio01" routerDirection="forward"  
          size="medium"
          color="primary"
          shape="round"
          expand="full">Ejercicio 1
        </ion-button>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="12">
        <ion-button
          href="/ejercicio02" routerDirection="forward"  
          size="medium"
          color="primary"
          shape="round"
          expand="full">Ejercicio 2
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">           
        <ion-button
          href="/ejercicio03" routerDirection="forward"  
          size="medium"
          color="primary"
          shape="round"
          expand="full">Ejercicio 3
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button
          href="/ejercicio04" routerDirection="forward"  
          size="medium"
          color="primary"
          shape="round"
          expand="full">Ejercicio 4
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button
          href="/ejercicio05" routerDirection="forward"  
          size="medium"
          color="primary"
          shape="round"
          expand="full">
          Ejercicio 5
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button
          href="/ejercicio06" routerDirection="forward"  
          size="medium"
          color="primary"
          shape="round"
          expand="full">
          Ejercicio 6
        </ion-button>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="12">
        <ion-button
          href="/ejercicio07" routerDirection="forward"  
          size="medium"
          color="primary"
          shape="round"
          expand="full">
          Ejercicio 7
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
